
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <H3> ACADEMIC TRACK </H3>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: 18rem; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/ABM_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ACCOUNTANCY, BUSINESS AND MANAGEMENT (ABM) STRAND</h5>
            <p class="card-text">an introductory course that teaches students the basic concepts of financial management, business management, corporate operations, human resource, and office management.</p>
                <div class="mt-auto text-center">
                    <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
                </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: 18rem; height: 38rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/HUMS_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HUMANITIES AND SOCIAL SCIENCES (HUMSS) STRAND</h5>
            <p class="card-text">Senior High School (SHS) academic track that introduces students to the humanities, social sciences, and the arts. It's designed to help students develop critical thinking, communication, and research skills.</p>
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: 18rem; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/STEM_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">SCIENCE, TECHNOLOGY, ENGINEERING, AND MATHEMATICS (STEM) STRAND</h5>
            <p class="card-text"> It's designed to give students advanced knowledge and skills in these fields.<br><br><br></p>
            
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: 18rem; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/GAS_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">GENERAL ACADEMIC STRAND (GAS) STRAND</h5>
            <p class="card-text">a senior high school program that prepares students for college. It's designed for students who are unsure of what college course they want to take.<br><br><br></p>
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <H3> TECHNICAL-VOCATIONAL-LIVELIHOOD (TVL) TRACK </H3>
      <div class="col-md-3 mb-4">
        <div class="card" style="width: 18rem; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/ICT_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Information and Communications Technology (ICT)</h5>
            <p class="card-text">The ICT strand teaches skills in computer hardware, software, programming, web development, and cybersecurity, preparing students for careers in IT, software development, or tech support.</p>
                <div class="mt-auto text-center">
                    <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
                </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: 18rem; height: 38rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/HE_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Home Economics (H.E) </h5>
            <p class="card-text">The Home Economics (HE) strand focuses on practical life skills such as cooking, event planning, dressmaking, and entrepreneurship, equipping students for careers in hospitality, fashion, or small business.<br><br></p>
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card" style="width: 18rem; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/AGRI_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Agri Fishery Arts (AFA)</h5>
            <p class="card-text"> The Agri-Fishery Arts (AFA) strand covers crop production, livestock raising, and fish farming, with an emphasis on sustainable farming practices and agribusiness, preparing students for careers in agriculture or food production.<br><br></p>
            
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card" style="width: 18rem; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/IA_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Industrial Arts (IA)</h5>
            <p class="card-text">The Industrial Arts (IA) strand focuses on technical skills in carpentry, welding, automotive repair, and plumbing, preparing students for careers in various trades and technical fields.<br><br><br></p>
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <H3>  ARTS AND DESIGN TRACK  &  SPORTS TRACK</H3>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: auto; height: 38rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/ART_AND_D_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Arts and Design Track</h5>
            <p class="card-text">The Arts and Design Track develops creativity and technical skills in visual arts, design, and communication, preparing students for careers in graphic design, animation, fashion, or architecture.<br></p>
                <div class="mt-auto text-center">
                    <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
                </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4"> 
        <div class="card" style="width: auto; height: 38rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/SPORTS_CARD_PHOTO.png') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Sports Track</h5>
            <p class="card-text">The Sports Track focuses on physical fitness, teamwork, and leadership, preparing students for careers in coaching, fitness training, sports medicine, or sports management.<br><br></p>
            <div class="mt-auto text-center">
                <p class="card-footer"> <a href="#" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>


    

  </div>
  
  

{% endblock %}